/* Basic Setting */

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
body {
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

table {
    margin: 0 auto;
    width: 350px;
    height: 700px;
    border-spacing: 0;
}
td {
    width : 35px;
    height : 35px;
}

/* Game Display Setting */
.wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    width : 750px;
    height : 750px;
    border : 5px solid white;
}

/* Tetris Block Setting -> https://codepen.io/jh3y/pen/MQJBEN*/
.block {
    /* Color Settings are in JS Code [Fill(Block's Method)] */
    border-radius : 2px;
    border-width: 5px;
    border-style : outset;
}

.solid {
    /* Color Settings are in JS Code [Fill(Block's Method)] */
    border-radius : 2px;
    border-width: 5px;
    border-style : outset;
}

.boom {
    /* Color Settings are in JS Code [Fill(Block's Method)] */
    border-radius : 2px;
    border-width: 5px;
    border-style : outset;
}