/* Basic Setting */

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
body {
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

table {
    width: 350px;
    height: 700px;
    margin : 0 10px;
    border-spacing: 0;
    border : 1px solid white;
}
td {
    width : 35px;
    height : 35px;
}

/* Game Display Setting */
.wrapper {
    display: flex;
    align-items: center;
    width : 750px;
    height : 750px;
    border : 5px solid white;
}

.next {
    box-sizing: border-box;
    width : 100px;
    height : 100px;
    border-spacing: 0;
}

.next table {
    width : 100px;
    height : 100px;
    border : 1px solid white;
    margin : 0;
}

.next td {
    box-sizing: border-box;
    border : 1px solid white;
    width : 25px;
    height : 25px;
}

.point {
    color : white;
}

.level {
    color : white;
}

/* Tetris Block Setting -> https://codepen.io/jh3y/pen/MQJBEN*/
.block {
    /* Color Settings are in JS Code [Fill(Block's Method)] */
    border-radius : 2px;
    border-width: 5px;
    border-style : outset;
}

.solid {
    /* Color Settings are in JS Code [Fill(Block's Method)] */
    border-radius : 2px;
    border-width: 5px;
    border-style : outset;
}

.boom {
    /* Color Settings are in JS Code [Fill(Block's Method)] */
    border-radius : 2px;
    border-width: 5px;
    border-style : outset;
}
